body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.container1{
    width: 656px;
    height: 656px;
    display: flex;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.row{
    display: flex;
}
.column{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
[class^="column item-"]{
    text-align: center;
    font-size: 55px;
}
.row:nth-child(odd) .column:nth-child(even), .row:nth-child(even) .column:nth-child(odd){
    background-color: gold;
}
.row:nth-child(odd) .column:nth-child(odd), .row:nth-child(even) .column:nth-child(even){
    background-color: pink;
}