*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
}
#mainHead{
    color: red;
}
h3{
    color: green;
}
#table2{
    background-color: burlywood;
}
#highlight1{
    color: red;
}
#skul{
    color: fuchsia;
}
#tablesk{
    background-color: brown;
}