body {
  margin: 0;
  background-color: rgb(15, 16, 20);  
  font-family: Arial, sans-serif;
  height: 100vh;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;       
  justify-content: center;
  height: 550px;
  /* border: 1px solid white; */
  width: 70px;                   
  /* background-color: #0f1014; */
  padding: 20px 10px;   
  z-index: +1000;
  overflow: hidden;
  transition: width 0.3s ease;
  gap: 15px;
  position: fixed;
  top: 20px;
  left: 15px;
}
.navbar a:visited{
  color: white;
  text-decoration: none;
}
.logo {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1a1b20;
  flex-shrink: 0; 
}

.logo img {
  width: 60px;
  height: auto;
}


.navbar:hover {
  width: 150px;                  
}


.nav-item {
  display: flex;                 
  align-items: center;    
  gap: 30px;                   
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.nav-item:hover {
  /* background-color: #1a1b20; */
  font-weight: bold;

}

.nav-item i {
  font-size: 22px;
  
}

.nav-item span {
    letter-spacing: 2px;
    opacity: 0;
    transform: translateX(-10px);
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar:hover .nav-item span {
  opacity: 1;
  transform: translateX(0);
}
.video-container{
  width: 100%;
  height: 600px;
  /* overflow: hidden; */
  object-fit: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.video-wrapper{
  width: 100%;
  margin: 0;
}
.video-wrapper video {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
.face-card img{
  width: 100%;
  height: 150px;
}
.face-card{
  /* border: 2px solid white; */
  width: 400px;
  height: 250px;
  position: absolute;
  margin-top: 150px;
  margin-left: 100px;

}
.face-card-text{
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.face-card-button{
  padding: 15px;
  /* border: 1px solid white; */
  border-radius: 8px;
  width: 400px;
  text-align: center;
  /* background-color: rgb(16, 130, 236); */
  background: linear-gradient(to right, rgb(19, 142, 251), rgb(214, 9, 110));
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.container-1 ,.container-2, .container-3, .container-4{
  margin: 10px 0px 20px 100px;
  height: 270px;
  /* border: 1px solid white; */
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.carousel-wrapper {
  overflow: visible;
  position: relative;
  width: 100%;
}

.container-1 ,.container-2, .container-3, .container-4{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  gap: 15px;
  padding-top: 40px;
  padding-bottom: 20px;
  scrollbar-width: none;
}
.container-1::-webkit-scrollbar {
  display: none;
}
.card {
  width: 200px;
  height: 250px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.35s ease;
  transform-origin: center center;
  z-index: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.35s ease;
  overflow: hidden;
}

.card-buttons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.btn {
  /* background-color: rgba(0, 0, 0, 0.7); */
  background: linear-gradient(to right, rgb(19, 142, 251), rgb(214, 9, 110));
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}
.btn:hover {
  background-color: #1f80e0;
}

/* Hover effects */
.card:hover {
  transform: scaleX(1.4) scaleY(1.4);
  z-index: 10;
}
.card:hover .card-buttons {
  opacity: 1;
  transform: translateY(0);
}
.card:hover img {
  transform: scale(0.9);
  border-radius: 10px;
}

.card-Header-1, .card-Header-2, .card-Header-3, .card-Header-4 h3{
  font-size: 1.3rem;
  margin-bottom: 0;
  color: white;
}
.card-Header-1, .card-Header-2, .card-Header-3, .card-Header-4{
  margin-left: 100px;
  /* margin-top: 30px; */
}
.search{
  /* border: 2px solid white; */
  height: 850px;
  margin:0px 0px 0px 100px;
}

.search-bar{
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color:rgb(37, 39, 51);
    position: relative;
    padding: 20px 0px 20px 0px;
    margin: 40px 0px 20px 0px;
}
.search-bar input{
    width: 70%;
    margin-left: 80px;
    font-size: 1.8rem;
    background-color: rgb(37, 39, 51);
    color: white;
    outline: none;  
    border: 0px solid;
}
.search-bar i{
    position: absolute;
    left: 20px;
    font-size: 2rem;
    color: white;
}
.container-1::-webkit-scrollbar {
  display: none;
}
.container-2::-webkit-scrollbar {
  display: none;
}
.container-3::-webkit-scrollbar {
  display: none;
}
.container-4::-webkit-scrollbar {
  display: none;
}
.search > [class^="owl-carousel"]{
  margin: 40px 0px 20px 0px;
  height: 270px;
  /* border: 2px solid white; */
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}
.Login{
  /* border: 2px solid white; */
  height: 700px;
  margin:0px 0px 0px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-functionality{
  width: 500px;
  height:400px;
  /* border: 1px solid; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-functionality img{
  width: 300px;
  height: 120px;
}
.login-button{
  width: 275px;
  padding: 18px;
  border-radius: 10px;
  border: 0px solid;
  background-color: rgb(17, 137, 242);
  color: white;
  cursor: pointer;
}
#login:checked~.Login{
  display: none;
}
.help-support-button{
  width: 200px;
  padding: 15px;
  color: white;
  border: 1px solid black;
  border-radius:10px ;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #888;
}
.help-support-button:hover{
  background-color: rgb(17, 137, 242);
  transition: all 0.3s ease;
}
.upgrade{
  /* border: 2px solid white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin:0px 0px 50px 100px;
}
.offer{
  width: 450px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upgrade-content-box{
  width: 100%;
  /* border: 1px solid white; */
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  color: #888;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.offer-details{
  width: 93%;
  border: 1px solid #888;
  display: flex;
  border-radius: 10px;
}
.offer-details img{
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.offer-details>.details{
  line-height: 6px;
}
.upgrade table{
  width: 700px;
  height: 400px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}
.subscriptions-plan-box{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: white;
}
.subs-box{
  width: 80%;
  display: flex;
  /* border: 1px solid white; */
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.plan-1, .plan-2, .plan-3{
  border: 1px solid #888;
  width: 350px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 20px;
}
.plan p{
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 1.2rem;
  line-height: 20px;
  flex-shrink: 1;
}
.buy-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.buy-button button{
  background:linear-gradient(to right, rgb(19, 142, 251), rgb(214, 9, 110));
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  text-decoration: none;
  border: 0px solid;
}

/* .row-name{
  text-align: start;
}
.subscriptions-plan-box{
  margin-left: 150px ;
  display: flex;
  flex-direction: row;
}
.plans-time-span{
  color: white;
  display: flex; 
  width: 150px;
  height: 20px;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px;
  gap: 40px;
}
.plans-time-span input{
  display: none;
}
.price-card-boxes{
  height: 120px;
  width: 100%;
  /* border: 1px solid white; */
  /*margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.price-box-1, .price-box-2, .price-box-3{
  border: 2px solid white;
  width: 220px;
  height: 100px;
  border-radius: 10px;
  color: white;
} */
/* .subscriptions-plan-box button{
  width: 100%;
  padding: 15px;
  background-color: rgb(17, 137, 242);
  border-radius: 10px;
  outline: none;
  border: 0px solid;
} */
@media (max-width: 576px) {
  .navbar {
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0;
    top: auto;
    padding: 5px 0;
    background-color: #0f1014;
    transition: none;          
  }

  .logo {
    display: none;             
  }

  .nav-item {
    flex-direction: column;    
    gap: 0;
    padding: 0;
    transition: none;        
  }

  .nav-item:hover {
    font-weight: normal;      
    background: none;
  }

  .nav-item span {
    display: none;            
  }

  .nav-item i {
    font-size: 24px;   
  }

  .navbar:hover {
    width: 100%;         
  }
  a,.navbar a:visited{
  color: white;
  text-decoration: none;
}
  .movies, .sports, .sparks, .categories{
    display: none;
  }
  .video-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 400px;
  }
  .face-card img{
  width: 100%;
  height: 150px;
  }
  .face-card{
    /* border: 2px solid white; */
    width: 200px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-left: 30px;
  }
  .face-card-text{
    color: white;
    font-size: 0.8rem;
    text-align: center;
  }
  .face-card-button{
    padding: 15px;
    /* border: 1px solid white; */
    border-radius: 8px;
    width: 70%;
    text-align: center;
    background-color: rgb(16, 130, 236);
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .video-wrapper video {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .container-1 ,.container-2, .container-3, .container-4{
  margin: 20px 0px 20px 0px;
  height: 270px;
  /* border: 2px solid white; */
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.card {
  width: 150px;
  height: 220px;
  flex: 0 0 auto;
}

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, .card-8, .card-9, .card-10, .card-11, .card-12, .card-13, .card-14, .card-15, .card-16, .card-17, .card-18 {
  margin: 10px;
  /* border: 1px solid white; */
  color: white;
  text-align: center;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search{
  /* border: 1px solid white; */
  height: 800px;
  margin:0;
}

.search-bar{
    width: 100%;
    border-radius: 10px;
    display: flex;
    gap: 80px;
    background-color:rgb(37, 39, 51);
    position: relative;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
}
.search-bar input{
    width: 50%;
    /* margin-left: 80px; */
    font-size: 1rem;
    background-color: rgb(37, 39, 51);
    color: white;
    outline: none;  
    border: 0px solid;
}
.search-bar i{
    /* position: absolute;
    left: 20px; */
    font-size: 1.4rem;
    color: white;
}
.container-1::-webkit-scrollbar {
  display: none;
}
.container-2::-webkit-scrollbar {
  display: none;
}
.container-3::-webkit-scrollbar {
  display: none;
}
.container-4::-webkit-scrollbar {
  display: none;
}
.search > [class^="owl-carousel"]{
  margin: 40px 0px 20px 0px;
  height: 270px;
  /* border: 2px solid white; */
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}
.card-Header-1, .card-Header-2, .card-Header-3, .card-Header-4{
  color: white;
  font-size: 1.5rem;
  margin: 15px;
}
.Login{
  /* border: 1px solid white; */
  height: 700px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-functionality{
  width: 300px;
  height:330px;
  /* border: 1px solid white; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-functionality img{
  width: 300px;
  height: 120px;
}
.login-button{
  width: 275px;
  padding: 18px;
  border-radius: 10px;
  border: 0px solid;
  background-color: rgb(17, 137, 242);
  color: white;
  cursor: pointer;
}
#login:checked~.Login{
  display: none;
}
.help-support-button{
  width: 150px;
  padding: 15px;
  color: white;
  border: 1px solid black;
  border-radius:10px ;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #888;
}
.help-support-button:hover{
  background-color: rgb(17, 137, 242);
  transition: all 0.3s ease;
}
.upgrade{
  /* border: 1px solid white; */
  height: 750px;
  margin: 0 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.offer{
  width: 100%;
}
.upgrade-content-box{
  width: 350px;
  /* border: 1px solid white; */
  color: #888;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 10px;
}
.offer-details{
  width: 93%;
  border: 1px solid #888;
  display: flex;
  border-radius: 10px;
}
.offer-details img{
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.offer-details>.details{
  line-height: 6px;
}
.subscriptions-plan-box>.subs-box{
  margin-bottom: 50px;
}
}